<div class="row">
  <div class ="col s12">
    <h1>Administe sus contactos</h1>
  </div>
</div>

<div class = "row" *ngIf="contacts?.length  > 0 then listaContactos else noContacts"></div>

<ng-template #listaContactos>
  <div class="col s12">
    <table>
      <thead>
        <tr>
            <th>Cover</th>
            <th>nombre</th>
            <th>telefono</th>
            <th>Edit</th>
            <th>Delete</th>



        </tr>
      </thead>


        <tbody>
          <tr *ngFor="let contact of contacts">
            <td>

            </td>
            <td>{{contact?.nombre}}</td>
            <td>{{contact?.correo}}</td>
            <td>
              <i class="material-icons" (click)="editContact(contact?.id)">edit</i>
            </td>
            <td>
              <i class="material-icons" (click)="deleteContact(contact?.id)">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</ng-template>

<ng-template #noContacts>
  <h5>No tienes contactos</h5>
</ng-template>
