
<div class = "row" *ngIf="editar == false">


  <div class="row">
    <div class="col s12">
      <h2>Detalles del contacto:</h2>
    </div>
  </div>



  <div class="row">
    <form class="col s12" [formGroup]="contactForm" (ngSubmit)="onSubmit()">


        <div class="row">
          <div class="input-field col s12">
            <input  disabled formControlName="nombre" id="nombre" type="text" class="validate">
            <label  for="disabled" class="active" for="nombre">Nombre</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input disabled formControlName="telefono" id="telefono" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12" class="validate">
            <span class="helper-text" data-error="El telefono es invalido" data-success="agregado"></span>
            <label class="active" for="telefono">Telefono</label>
          </div>
        </div>



        <div class="row">
          <div class="input-field col s12">
            <input disabled formControlName="correo" id="correo" type="email" class="validate">
            <span class="helper-text" data-error="El correo es invalido" data-success="agregado"></span>
            <label class="active" for="correo">Correo</label>
          </div>
        </div>



        <div class="row center" class="separar">
          <div class="col s12">
            <button type="editar" class="waves-effect waves-light btn-large" class="button1" (click)="getEditable(contact?.id)">Editar</button>
            <button type="borrar" class="waves-effect waves-light btn-large" class="button2" (click)="deleteContact(contact?.id)">Borrar</button>
          </div>


        </div>

    </form>
  </div>



</div>



<div class = "row" *ngIf="editar == true">

  <div class="row">
    <div class="col s12">
      <h2>Detalles del contacto:</h2>
    </div>
  </div>



    <div class="row">
      <form class="col s12" [formGroup]="contactForm" (ngSubmit)="onSubmit()">


          <div class="row">
            <div class="input-field col s12">
              <input  formControlName="nombre" id="nombre" type="text" class="validate">
              <label class="active" for="nombre">Nombre</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input formControlName="telefono" id="telefono" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12" class="validate">
              <span class="helper-text" data-error="El telefono es invalido" data-success="agregado"></span>
              <label class="active" for="telefono">Telefono (Formato: 000-000-0000)</label>
            </div>
          </div>



          <div class="row">
            <div class="input-field col s12">
              <input formControlName="correo" id="correo" type="email" class="validate">
              <span class="helper-text" data-error="El correo es invalido" data-success="agregado"></span>
              <label class="active" for="correo">Correo</label>
            </div>
          </div>



          <div class="row center">
            <div class="col s12">
              <button class="waves-effect waves-light btn-large">Editar contacto</button>
            </div>
            <div class="separar">
              <a [routerLink]="['']"> Cancel </a>
            </div>
          </div>

      </form>
    </div>



</div>
